<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.com">
<head th:replace="layout/layout :: head"></head>
<header th:replace="layout/layout :: header"></header>


<body>
	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Create New Character</h1>
				<div class="card-body">
					<form
						th:action="@{/saveCharacter}"
						enctype="multipart/form-data"
						th:object="${personaje}"
						method="POST">

						<div class="form-group">

							<!--  Name -->
							<label>Character Name</label>
							<input
								class="form-control"
								type="text"
								name="Name"
								placeholder="enter character name"
								th:field="*{name}" />
							<div
								class="form-text text-danger"
								th:if="${#fields.hasErrors('name')}"
								th:errors="*{name}"></div>

							<!-- year-->
							<label>Character year</label>
							<input
								class="form-control"
								type="number"
								min="1"
								name="year"
								placeholder="enter Chaacter year"
								th:field="*{year}" />
							<div
								class="form-text text-danger"
								th:if="${#fields.hasErrors('year')}"
								th:errors="*{year}"></div>


							<!-- weight -->
							<label>Character weight</label>
							<input
								class="form-control"
								type="number"
								min="1"
								name="weight"
								placeholder="enter character weightl"
								th:field="*{weight}" />
							<div
								class="form-text text-danger"
								th:if="${#fields.hasErrors('weight')}"
								th:errors="*{weight}"></div>

							<!-- IMAGEN -->
							<label for="file">IMGEN</label>
							<input
								class="form-control"
								type="file"
								name="file" />

							<!-- MOVIES -->
							<label for="listMovies"> MOVIES</label>
							<div>
								<select
									multiple
									name="title">
									<option
										th:each="movie: ${movies}"
										th:text="${movie.title}"
										name="title"
										th:value="${movie.title}">
								</select>
							</div>


							<!-- BTN -->
							<div class="footer-boody">
								<button class="btn btn-primary">Submit</button>

							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>