<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.com">
<head th:replace="layout/layout :: head"></head>
<header th:replace="layout/layout :: header"></header>

<body>

	<div class="container">
		<a
			th:href="@{/characters/addCharacter}"
			class="btn btn-primary btn-sm mb-3">AGREGAR PERSONAJE</a>

		<form
			th:action="@{/characters}"
			method="GET">
			<div class="input-group mb-3">
				<button
					type="submit"
					class="btn btn-outline-dark">Buscar por nombre</button>
				<input
					type="text"
					class="form-control"
					placeholder="enter name"
					aria-label="Example text with button addon"
					aria-describedby="button-addon1"
					name="name">
			</div>
		</form>


		<form
			th:action="@{/characters}"
			method="GET">
			<div class="input-group mb-3">
				<button
					type="submit"
					class="btn btn-outline-dark">Filtrar por edad</button>
				<input
					type="number"
					class="form-control"
					placeholder="years"
					aria-label="Example text with button addon"
					aria-describedby="button-addon1"
					name="year">
			</div>
		</form>

		<form
			th:action="@{/characters}"
			method="GET">
			<div class="input-group mb-3">
				<button
					type="submit"
					class="btn btn-outline-dark">Filtrar por peso</button>
				<input
					type="number"
					class="form-control"
					placeholder="weight"
					aria-label="Example text with button addon"
					aria-describedby="button-addon1"
					name="weight">
			</div>
		</form>


		<form
			th:action="@{/characters}"
			method="GET">
			<div class="input-group mb-3">
				<button
					type="submit"
					class="btn btn-outline-dark">Filtrar por peliculas</button>
				<div>
					<select name="title">
						<option
							th:each="movie: ${movies}"
							th:text="${movie.title}"
							name="title"
							th:value="*{movie.title}">
					</select>
				</div>
			</div>
		</form>



		<table
			class="table"
			th:object="${personajes}">

			<thead>
				<th>NOMBRE</th>
				<th>IMAGEN</th>
				<th>OPERAR</th>
			</thead>

			<tbody>
				<tr th:each="personaje: ${personajes}">

					<!-- name -->
					<td th:text="${personaje.name}"></td>

					<!-- imagen -->
					<td>
						<img
							th:src="@{'/imgCharacters/' + ${personaje.imgPersonaje}}"
							th:alt="${personaje.imgPersonaje}"
							width="60"
							height="60" />
					</td>

					<!-- operacion -->
					<td
						class="btn-group "
						role="group">
						<a
							th:href="@{/characters/editCharacter/{id}(id=${personaje.id})}"
							type="button"
							class="btn btn-success"> EDITAR </a>
						<a
							th:href="@{/characters/{id}(id=${personaje.id})}"
							type="button"
							class="btn btn-danger"> ELIMINAR </a>
						<a
							th:href="@{/characters/detailCharacter/{id}(id=${personaje.id})}"
							type="button"
							class="btn btn-info"> DETALLE </a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>