<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>create User</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">
</head>
<body>
	<form
		th:action="@{saveUser}"
		th:object="${user}"
		method="POST">
		<div class="form-group">
		
			<label for="name">Ingresar nombre de Usuario</label>
			<input
				type="text"
				name="name"
				placeholder="user name"
				th:field="*{userName}" />
				
			<label for="pass">Ingresar password</label>
			<input
				type="password"
				name="pass"
				placeholder="*****"
				th:field="*{password}" />
				
			<input type="submit" />
			
		</div>
	</form>
</body>
</html>