<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.com">
<head th:replace="layout/layout :: head"></head>
<header th:replace="layout/layout :: header"></header>

<body>

	<div class="container">
		<table
			class="table"
			th:object="${personaje}">
			<thead>
				<tr>
					<th>Name</th>
					<th>Year</th>
					<th>Weight</th>
					<th>Imagen</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="*{name}"></td>
					<td th:text="*{year}"></td>
					<td th:text="*{weight}"></td>
					<td><img
						th:src="@{'/imgCharacters/' + *{imgPersonaje}}"
						th:alt="*{imgPersonaje}"
						width="60"
						height="60" /></td>

				</tr>
			</tbody>
		</table>
		<label for="listMovies"> LIST MOVIES ASOCIATES</label>
		<div
			class="container"
			th:each="movie : ${moviesAsociate}"
			name="listMovies">
			<div class="row">
				<ul>
					<il th:text="${movie}"></il>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>