<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">
<title>EDIT CHARACTER</title>
</head>

<div class="container my-3">
	<nav
		class="navbar navbar-expand-sm navbar-light bg-light justify-content-center">
		<ul>
			<li class="nav-item"><a
				class="nav-link"
				href="/index">DISNEY HOME</a></li>
			<li class="nav-item"><a
				class="nav-link"
				href="/characters">LIST CHARACTERS</a></li>
		</ul>
	</nav>
	<body>

		<div class="container">
			<div class="row">
				<div
					class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
					<h1 class="text-center">Edit Character</h1>
					<div class="card-body">
						<form
							th:action="@{/editCharacter/{id}(id=${personaje.id})}"
							th:object="${personaje}"
							enctype="multipart/form-data"
							method="POST">

							<div class="form-group">

								<!-- Name -->
								<label> Name</label> <input
									class="form-control"
									type="text"
									name="name"
									placeholder="enter  name"
									th:field="*{name}" />
								<div
									class="form-text text-danger"
									th:errors="*{name}"></div>

								<!--Year -->
								<label>Character year</label> <input
									class="form-control"
									type="number"
									name="year"
									placeholder="enter year"
									th:field="*{year}" />
								<div
									class="form-text text-danger"
									th:errors="*{year}"></div>


								<!--Weight -->
								<label>Character Weight</label> <input
									class="form-control"
									type="number"
									name="weight"
									placeholder="enter weight"
									th:field="*{weight}" />
								<div
									class="form-text text-danger"
									th:errors="*{weight}"></div>


								<!-- IMAGEN -->
								<label for="file">IMGEN</label> <input
									class="form-control"
									type="file"
									name="file" />


								<!-- MOVIES -->
								<label for="listMovies"> MOVIES</label>
								<div
									th:object=${movies}
									name="title">
									<select
										multiple
										name="title">
										<option
											th:each="movie: ${movies}"
											th:text="${movie.title}"
											name="title"
											th:value="${movie.title}">
									</select>
								</div>
								<div
									class="form-text text-danger"
									th:errors="*{listMovieDTO}"></div>

								<!-- BTN -->
								<div class="footer-boody">
									<button class="btn btn-primary">Submit</button>

								</div>

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>